/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s1 .container {
  max-width: 1146px;
  width: 95%;
  margin: 0 auto;
}
.s1 .container .infodiv {
  width: 371px;
  margin-top: 57px;
  margin-bottom: 57px;
}
@media (max-width: 850px) {
  .s1 .container .infodiv {
    text-align: center;
    width: 100%;
  }
}
.s1 .container .infodiv h6 {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}
.s1 .container .infodiv h2 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s1 .container .formdiv ::-webkit-input-placeholder {
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s1 .container .formdiv ::-moz-placeholder {
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s1 .container .formdiv :-ms-input-placeholder {
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s1 .container .formdiv ::-ms-input-placeholder {
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s1 .container .formdiv ::placeholder {
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s1 .container .formdiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 850px) {
  .s1 .container .formdiv form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s1 .container .formdiv form .textareadiv {
  max-width: 756px;
  width: 100%;
  height: 300px;
}
@media (max-width: 850px) {
  .s1 .container .formdiv form .textareadiv {
    max-width: 100%;
  }
}
.s1 .container .formdiv form .textareadiv textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  padding: 23px 21px;
  outline: none;
  color: black;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s1 .container .formdiv form .inputsdiv {
  width: 370px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 850px) {
  .s1 .container .formdiv form .inputsdiv {
    width: 100%;
  }
}
.s1 .container .formdiv form .inputsdiv input {
  width: 370px;
  height: 60px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  padding: 21px 19px;
  outline: none;
  color: black;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 850px) {
  .s1 .container .formdiv form .inputsdiv input {
    width: 100%;
  }
}
.s1 .container .formdiv form .inputsdiv #mybutton {
  background-color: #5968f4;
  color: #fbfbff;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.s1 .container .formdiv form .inputsdiv #mybutton:hover {
  background-color: #1a30ee;
}/*# sourceMappingURL=global.css.map */